body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin: 5px;
}

.center {
    text-align: center;
}

.justify {
	text-align: justify;
}

.right {
    text-align: right;
}

.text-big {
    font-size: 300%;
}

.text-medium {
    font-size: 150%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

h1, h2, h3, h4, h5 {
	color: forestgreen;
}

.container {
	border: 2px solid blue;
	border-radius: 10px;
	background-color: aliceblue;
	margin-bottom: 5px;
}

.imgTopRight {
	vertical-align: top;
	float: right;
	margin: 5px;
}

.imgTopLeft {
	vertical-align: top;
	float: left;
	margin: 5px;
}

li {
	margin-bottom: 1em;
}

table {
	width: 100%;
	margin: 5px;
	padding: 5px;
}

thead {
	font-weight: bold;
	background-color: bisque;
}

tr, td {
	border: 1px solid black;
}

td {
	vertical-align: top;
}
.oFlow {
	overflow: hidden;
}
